.form-island {
	padding: 2rem 1rem;
	margin-bottom: 1rem;
	background-color: white;
	border: 1px solid #F0F0F0;
	border-radius: 3px;
}


.btn-primary {
/*	min-width: 220px;
	text-align: left;*/
}



.loader {
	display: none;

	position: relative;
	margin-left: 5px;
	top: 2px;
	
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	height: 1em;
	width: 1em;
	border-radius: 100%;
	border: 3px solid rgba(white, .2);
	border-top-color: rgba(white, 1);
	animation: spin 1.3s infinite linear;

}


.is-loading {
	.text {
		display: none;
	}

	.loader {
		display: inline-block;
	}
}


@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
} 