// Staat deze er wel of niet?
.pioneers {
    position: relative;
    
    .pioneer-intro {
        position: relative;
        z-index: 10;
    }

    h2 + .intro {
        margin: 0.5em 0 1.0em;
    }

    .intro p {
        font-size: 0.875em;
    }

    .pioneer-case {
        position: relative;    
    }
    
    .spotlight {
        margin: 0 15px;
        border: 8px solid var(--white);
        background-color: var(--white);
        
        img {
        	width: 100%;
        }
    }

    
    .map img,
    .line {
        display: none;
    }
        
    .overlay {
        background: var(--white);
        padding: 0 2rem 0.5rem 0;        
    }
    
    .quote {
        display: none;
    }    
    
    h3 {
        position: relative;
        padding: 0.9rem 0;
        margin: 1.2rem 0 0;
        font-size: 1.3125rem;
        font-weight: normal;

        @media screen and (min-width: 576px) {
            font-size: 1.5rem;
        }

		&:before {
			content: "";
			display: block;
			width: 8rem;
			position: absolute;
			left: 0;
			top: 0;
			border-top: 4px solid var(--vireo-green-clear);			
		}
        
        .label-pioneers {
            font-weight: bold;
            color: var(--vireo-green-clear);            
        }
    }
    
    
    .pioneers-slidenav {
        
        ul {
            list-style: none;
            margin: 2em 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }
        li {
            flex: 0 0 auto;
            margin: 0 1rem;
        }
        a {
            display: block;
            width: 1.4rem;
            height: 1.4rem;
            padding: 0.3rem;
            border-radius: 0.6rem;
            background-color: var(--white);
        }
        .current-slide span {
            display: block;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 0.4rem;
            background-color: var(--vireo-green-clear);
        }
    }


    @media screen and (min-width: 1024px) {
        .map {
            img {
                display: block;
                width: 60vw;
            }
        }

        .line {
            display: block;
            width: 8vw;
            height: auto;
            position: absolute;
            right: 100%;
            top: 0;
            margin-right: 1.7rem;
            
            svg {
                width: 100%;
            }
        }
        
        .spotlight {
            position: absolute;
            width: 60vw;
            top: 22.5%;
            right: 15vw;
            margin: 0;
        }

        .pioneer-intro {
            margin-bottom: -15rem;        
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
        }

        h3 {
            margin: 0;
            
    		&:before {
    			width: 10rem;
    			left: -2rem;
    		}
            
        }

        .quote {
            display: block;
            width: 100%;
            position: absolute;
            left: 100%;
            bottom: 0;
            margin: 0;
            padding: 0 2rem;
            font-weight: bold;
            font-size: 2rem;
            line-height: 1.25;
            color: var(--white);
            text-shadow: 0 0 10px rgba(0,0,0,0.2);
            
            &.top {
                bottom: auto;
                top: 5.5rem;
            }
            
            &:before {
                content: "”";
                font-size: 4.5em;
                font-weight: normal;
                color: var(--white);
                position: absolute;
                top: -5rem;
                left: 1.5rem;
            }
        }

        .pioneers-slidenav {
            position: absolute;
            bottom: 12rem;
            left: 50%;
            margin-left: -10rem;
            width: 20rem;            
        }
    }
}