// Staat deze er wel of niet?
.pioneers {
    .spotlight img {
    	width: 100%;
    }

    .pioneer-intro {
        position: relative;
        z-index: 10;
        margin-bottom: -15rem;
    }

    h2 + .intro {
        margin: 0.5em 0 1.0em;
    }

    .intro p {
        font-size: 0.875em;
    }

    .pioneer-case {
        position: relative;    
    }
    
    .map {
        img {
            display: block;
            width: 60vw;
        }
    }
    
    .spotlight {
        border: 8px solid var(--white);
        width: 60vw;
        position: absolute;
        top: 22.5%;
        right: 15vw;
    }
    
    .line {
        width: 8vw;
        height: auto;
        position: absolute;
        right: 100%;
        top: 0;
        margin-right: 1.7rem;
        
        svg {
            width: 100%;
        }
    }
        
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        background: var(--white);
        padding: 0 2rem 0.5rem 0;        
    }
    
    .quote {
        width: 100%;
        position: absolute;
        left: 100%;
        bottom: 0;
        margin: 0;
        padding: 0 2rem;
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.25;
        color: var(--white);
        text-shadow: 0 0 10px rgba(0,0,0,0.2);
        
        &.top {
            bottom: auto;
            top: 5.5rem;
        }
        
        &:before {
            content: "”";
            font-size: 4.5em;
            font-weight: normal;
            color: var(--white);
            position: absolute;
            top: -5rem;
            left: 1.5rem;
        }
    }
    
    
    h3 {
        position: relative;
        padding: 0.9rem 0;
        margin: 0;
        font-size: 1.3125rem;
        font-weight: normal;

        @media screen and (min-width: 576px) {
            font-size: 1.5rem;
        }

		&:before {
			content: "";
			display: block;
			width: 10rem;
			position: absolute;
			left: -2rem;
			top: 0;
			border-top: 4px solid var(--vireo-green-clear);			
		}
        
        .label-pioneers {
            font-weight: bold;
            color: var(--vireo-green-clear);            
        }
    }
}